.App {
  text-align: center;
  /* background-color: #bbb; */
  height: 100%;
}

.cardDiv{
  text-align: center;
  margin: 50px 25px 10px 25px;
  width: 200px;
  height: 200px;
  border-radius: 25px;
  box-shadow: 0 0 50px #ccc;
  background-color: #fff;
  float:left;
  text-decoration: none !important;
}

.menucardDiv{
  text-align: center;
  margin: 50px 25px 10px 25px;
  width: 250px;
  height: 250px;
  border-radius: 25px;
  box-shadow: 0 0 50px #ccc;
  background-color: #fff;
  float:left;
  text-decoration: none !important;

}


.cardImg{
  position: relative;
    top: -45px;
    left: 0;
    border-radius: 50px;
    height: 100px;
    width: 100px;
}

/* .imgDIv{
  position: relative;
    top: -45px;
    left: 0;
    border-radius: 50px;
    height: 100px;
    width: 100px;
} */

.cardHeader{
  margin-top: -20px;
  color: black;
  text-decoration: none !important;
}

.cardtext{
  color: #FA4A0C;
  text-decoration: none;
}

.restaurants{
  margin-top: 15px;
}

.carousel {
  height:350px;
  margin: auto;
  overflow:hidden
}

.cartButton{
  margin-bottom: 10px;
  background-color: green !important;
}

.floatbadge{
    position: absolute !important;
    bottom: 15px;
    right: 10px;
}

.floatCart{
  position: relative;
  top: -7px;
  z-index: 0 !important;
  right: 7px;
}

.innerCartDiv{
  text-align: center;
  margin: 20px 15px 10px 15px;
  width: 94%;
  border-radius: 25px;
  box-shadow: 0 0 50px #ccc;
  background-color: #fff;
  float:left;
  text-decoration: none !important;
  padding-bottom: 10px;
}

.itemdetailsheader{
  /* padding-left: 55px; */
}

.individualItem{
  padding-bottom: 10px;
}

.buttonGroup{
  /* float: right; */
  padding-right: 10px;
  padding-left: 10px;
}

.innercardHeader {
  float: left;
  padding-left: 10px;
}

.slabel{
  float: left;
  padding-left: 10px;
}

.stotal{
  float: right;
  padding-right: 20px;
}